/* =========================
MENU 3 PONTOS
========================= */

.hamburguer{

position:fixed;

top:25px;
right:25px;

width:60px;
height:60px;

border:none;

border-radius:50%;

background:
rgba(0,0,0,.75);

backdrop-filter:blur(10px);

cursor:pointer;

z-index:2000;

display:flex;
justify-content:center;
align-items:center;

box-shadow:
0 10px 25px
rgba(0,0,0,.35);

transition:.3s;
}

.hamburguer:hover{

transform:scale(1.05);
}

.hamburguer::before{

content:"⋮";

font-size:32px;

font-weight:900;

color:white;

line-height:1;
}

.hamburguer span{
display:none;
}

/* =========================
OVERLAY
========================= */

.menuOverlay{

position:fixed;

inset:0;

background:
rgba(0,0,0,.6);

backdrop-filter:blur(3px);

opacity:0;

visibility:hidden;

pointer-events:none;

transition:.3s;

z-index:1500;
}

.menuOverlay.ativo{

opacity:1;

visibility:visible;

pointer-events:auto;
}

/* =========================
MENU LATERAL
========================= */

.menu{

position:fixed;

top:0;
right:-340px;

width:320px;
height:100vh;

background:
rgba(15,15,15,.97);

backdrop-filter:blur(20px);

border-left:
1px solid #2a2a2a;

padding:40px 25px;

transition:.35s;

z-index:1800;

display:flex;
flex-direction:column;
}

.menu.ativo{

right:0;
}

.menuHeader{

padding-bottom:20px;

margin-bottom:25px;

border-bottom:
1px solid #2a2a2a;
}

.menuHeader h2{

font-size:34px;

font-weight:900;

color:#ff5e00;
}

.menuHeader p{

color:#aaa;

margin-top:5px;
}

.menu a{

display:flex;

align-items:center;

padding:18px;

margin-bottom:10px;

border-radius:15px;

text-decoration:none;

color:white;

font-size:18px;

font-weight:600;

transition:.25s;
}

.menu a:hover{

background:#ff5e00;

color:white;

transform:translateX(-5px);
}
